<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='api.js')}}"></script>

    <title>Scavenger</title>
</head>
<body>
    <button onclick="p()">PP</button>
    <div id="id"></div>

    <h1>Choose a coin:</h1>
    <select id="select">
        <option value="Dogecoin">Dogecoin</option>
        <option value="Bitcoin">Bitcoin</option>
        <option value="Wow">Wow</option>
        <option value="Cardano">Cardano</option>
    </select>
    <button onclick="sendcoin()">Get Chart</button>
</body>
</html>